In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.

import kagglehub
organizations_yelp_dataset_yelp_dataset_path = kagglehub.dataset_download('yelp-dataset/yelp-dataset')

print('Data source import complete.')

Downloading from https://www.kaggle.com/api/v1/datasets/download/yelp-dataset/yelp-dataset?dataset_version_number=4...

100%|██████████| 4.07G/4.07G [01:11<00:00, 61.4MB/s]

Extracting files...

Data source import complete.

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Extraction

In [ ]:
# Define file paths
file_paths = {
    'business': '/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json',
    'checkin': '/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json',
    'review': '/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json',
    'tip': '/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json',
    'user': '/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json'
}

# Define an empty dictionary to store DataFrames
dataframes = {}

# Define a function to read JSON in chunks and concatenate
def load_json_in_chunks(file_path, chunksize=10000):
    # Create an iterator for the JSON file
    json_reader = pd.read_json(file_path, lines=True, chunksize=chunksize)
    # Concatenate chunks into a single DataFrame
    return pd.concat([chunk for chunk in json_reader], ignore_index=True)

# Load each file in chunks and store it in the dictionary
for name, path in file_paths.items():
    print(f"Loading {name} data in chunks...")
    dataframes[name] = load_json_in_chunks(path)
    print(f"{name.capitalize()} Data Loaded. Shape: {dataframes[name].shape}")

# Access each DataFrame
business_df = dataframes['business']
checkin_df = dataframes['checkin']
review_df = dataframes['review']
tip_df = dataframes['tip']
user_df = dataframes['user']

Loading business data in chunks...

FileNotFoundError: File /kaggle/input/yelp-dataset/yelp_academic_dataset_business.json does not exist

# Data Analysis

In [ ]:
business_df.info()
checkin_df.info()
review_df.info()
tip_df.info()
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 480.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  datetime64[ns]
 4   compliment_count  908915 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987897 entries, 0 to 1987896
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 333.7+ MB

In [ ]:
# Display first few rows of each dataset to verify
print("Business Data Sample:")
display(business_df.head())

print("\nCheck-in Data Sample:")
display(checkin_df.head())

print("\nReview Data Sample:")
display(review_df.head())

print("\nTip Data Sample:")
display(tip_df.head())

print("\nUser Data Sample:")
display(user_df.head())

Business Data Sample:

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

Check-in Data Sample:

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

Review Data Sample:

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

Tip Data Sample:

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

User Data Sample:

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

# Detection and normalisation of Dataframes

In [ ]:
import pandas as pd
from pandas import json_normalize

# Define a function to detect nested JSON/dictionaries or arrays in a DataFrame
def detect_nested_columns(df):
    """
    Detects columns with nested JSON/dictionaries or arrays in a DataFrame.

    Parameters:
        df (pd.DataFrame): The DataFrame to inspect.

    Returns:
        list: A list of column names containing nested structures.
    """
    nested_columns = []

    for col in df.columns:
        # Check the first non-null value in the column
        first_value = df[col].dropna().values[0] if not df[col].dropna().empty else None

        if isinstance(first_value, dict) or isinstance(first_value, list):
            nested_columns.append(col)
            print(f"Column '{col}' contains nested data.")

    if not nested_columns:
        print("No nested columns found.")

    return nested_columns

# Define a function to normalize (flatten) nested columns in a DataFrame
def normalize_nested_columns(df, nested_columns):
    """
    Flattens specified nested columns in a DataFrame using json_normalize.

    Parameters:
        df (pd.DataFrame): The original DataFrame.
        nested_columns (list): List of columns to flatten.

    Returns:
        pd.DataFrame: The DataFrame with nested fields flattened.
    """
    for col in nested_columns:
        # Apply json_normalize to each nested column
        flat_df = json_normalize(df[col].dropna())  # Flatten only non-null entries
        flat_df.columns = [f"{col}_{subcol}" for subcol in flat_df.columns]  # Rename columns to avoid conflicts
        df = pd.concat([df.drop(columns=[col]), flat_df.reindex(df.index)], axis=1)  # Concatenate flattened data

    # Fill any resulting NaN values with 0 if needed
    df = df.fillna(0)

    return df

# Apply detection and normalization for each table
dataframes = {
    "business_df": business_df,
    "checkin_df": checkin_df,
    "review_df": review_df,
    "tip_df": tip_df,
    "user_df": user_df
}

# Process each DataFrame
for name, df in dataframes.items():
    print(f"\nProcessing {name}...")

    # Step 1: Detect nested columns
    nested_columns = detect_nested_columns(df)

    # Step 2: Normalize if there are nested columns
    if nested_columns:
        df = normalize_nested_columns(df, nested_columns)
        print(f"{name} has been normalized.\n")

    # Update the DataFrame in the dictionary (to retain changes outside the loop)
    dataframes[name] = df

# Access flattened DataFrames as needed
business_df = dataframes["business_df"]
checkin_df = dataframes["checkin_df"]
review_df = dataframes["review_df"]
tip_df = dataframes["tip_df"]
user_df = dataframes["user_df"]

Processing business_df...
Column 'attributes' contains nested data.
Column 'hours' contains nested data.
business_df has been normalized.


Processing checkin_df...
No nested columns found.

Processing review_df...
No nested columns found.

Processing tip_df...
No nested columns found.

Processing user_df...
No nested columns found.

In [ ]:
# Define a function to handle duplicate column names and fill NaN values
def process_dataframe(df):
    # Function to deduplicate columns
    def deduplicate_columns(columns):
        seen = {}
        new_columns = []
        duplicates_found = False  # Flag to check if there are duplicates

        for col in columns:
            # If column name already seen, append a counter to make it unique
            if col in seen:
                duplicates_found = True  # Mark that a duplicate was found
                seen[col] += 1
                new_columns.append(f"{col}_{seen[col]}")
            else:
                seen[col] = 0
                new_columns.append(col)

        # Check for duplicates and print appropriate message
        if not duplicates_found:
            print("No duplicate columns found.")
        else:
            print("Duplicate columns were found and renamed.")

        return new_columns

    # Apply deduplication to columns
    df.columns = deduplicate_columns(df.columns)

    # Fill NaN values with 0
    df = df.fillna(0)

    return df

# Process each DataFrame
print("Processing business_df:")
business_df = process_dataframe(business_df)

print("\nProcessing checkin_df:")
checkin_df = process_dataframe(checkin_df)

print("\nProcessing review_df:")
review_df = process_dataframe(review_df)

print("\nProcessing tip_df:")
tip_df = process_dataframe(tip_df)

print("\nProcessing user_df:")
user_df = process_dataframe(user_df)

Processing business_df:
No duplicate columns found.

Processing checkin_df:
No duplicate columns found.

Processing review_df:
No duplicate columns found.

Processing tip_df:
No duplicate columns found.

Processing user_df:
No duplicate columns found.

In [ ]:
def clean_and_convert_for_sql(df):
    """
    Cleans and converts data types in a DataFrame for SQL compatibility,
    while preserving NaN values as SQL-compatible NULLs. Prints the columns
    that were converted.

    Parameters:
        df (pd.DataFrame): The DataFrame to clean and convert.

    Returns:
        pd.DataFrame: The DataFrame with SQL-compatible data types.
        dict: A dictionary with lists of columns converted to each data type.
    """
    converted_columns = {
        "numeric": [],
        "text": [],
        "datetime": []
    }

    for col in df.columns:
        # Convert numeric columns
        if pd.api.types.is_numeric_dtype(df[col]):
            df[col] = pd.to_numeric(df[col], errors='coerce')  # Handles NaN values
            converted_columns["numeric"].append(col)

        # Convert object columns to strings with length limited to 255 characters
        elif pd.api.types.is_object_dtype(df[col]):
            df[col] = df[col].astype(str).str.slice(0, 255)  # Convert to string, truncate to 255 characters
            df[col] = df[col].replace('nan', pd.NA)  # Replace 'nan' strings with proper NaN values
            converted_columns["text"].append(col)

        # Convert date columns to datetime
        elif pd.api.types.is_datetime64_any_dtype(df[col]) or pd.api.types.is_object_dtype(df[col]):
            df[col] = pd.to_datetime(df[col], errors='coerce')  # Convert to datetime, NaN values will be NaT
            converted_columns["datetime"].append(col)

    # Print converted columns as comma-separated lists
    print("Converted columns:")
    if converted_columns["numeric"]:
        print("Numeric Columns:", ", ".join(converted_columns["numeric"]))
    if converted_columns["text"]:
        print("Text Columns:", ", ".join(converted_columns["text"]))
    if converted_columns["datetime"]:
        print("Datetime Columns:", ", ".join(converted_columns["datetime"]))

    return df

# Apply to each DataFrame and display converted columns
dataframes = {
    "business_df": business_df,
    "checkin_df": checkin_df,
    "review_df": review_df,
    "tip_df": tip_df,
    "user_df": user_df
}

for name, df in dataframes.items():
    print(f"Cleaning and converting data types for {name}...")
    dataframes[name] = clean_and_convert_for_sql(df)
    print(f"Completed data type conversion for {name}.\n")

Cleaning and converting data types for business_df...
Converted columns:
Numeric Columns: latitude, longitude, stars, review_count, is_open
Text Columns: business_id, name, address, city, state, postal_code, categories, attributes_ByAppointmentOnly, attributes_BusinessAcceptsCreditCards, attributes_BikeParking, attributes_RestaurantsPriceRange2, attributes_CoatCheck, attributes_RestaurantsTakeOut, attributes_RestaurantsDelivery, attributes_Caters, attributes_WiFi, attributes_BusinessParking, attributes_WheelchairAccessible, attributes_HappyHour, attributes_OutdoorSeating, attributes_HasTV, attributes_RestaurantsReservations, attributes_DogsAllowed, attributes_Alcohol, attributes_GoodForKids, attributes_RestaurantsAttire, attributes_Ambience, attributes_RestaurantsTableService, attributes_RestaurantsGoodForGroups, attributes_DriveThru, attributes_NoiseLevel, attributes_GoodForMeal, attributes_BusinessAcceptsBitcoin, attributes_Smoking, attributes_Music, attributes_GoodForDancing, attributes_AcceptsInsurance, attributes_BestNights, attributes_BYOB, attributes_Corkage, attributes_BYOBCorkage, attributes_HairSpecializesIn, attributes_Open24Hours, attributes_RestaurantsCounterService, attributes_AgesAllowed, attributes_DietaryRestrictions, hours_Monday, hours_Tuesday, hours_Wednesday, hours_Thursday, hours_Friday, hours_Saturday, hours_Sunday
Completed data type conversion for business_df.

Cleaning and converting data types for checkin_df...
Converted columns:
Text Columns: business_id, date
Completed data type conversion for checkin_df.

Cleaning and converting data types for review_df...
Converted columns:
Numeric Columns: stars, useful, funny, cool
Text Columns: review_id, user_id, business_id, text
Datetime Columns: date
Completed data type conversion for review_df.

Cleaning and converting data types for tip_df...
Converted columns:
Numeric Columns: compliment_count
Text Columns: user_id, business_id, text
Datetime Columns: date
Completed data type conversion for tip_df.

Cleaning and converting data types for user_df...
Converted columns:
Numeric Columns: review_count, useful, funny, cool, fans, average_stars, compliment_hot, compliment_more, compliment_profile, compliment_cute, compliment_list, compliment_note, compliment_plain, compliment_cool, compliment_funny, compliment_writer, compliment_photos
Text Columns: user_id, name, yelping_since, elite, friends
Completed data type conversion for user_df.

In [ ]:
business_df.info()
checkin_df.info()
review_df.info()
tip_df.info()
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 58 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   business_id                            150346 non-null  object
 1   name                                   150346 non-null  object
 2   address                                150346 non-null  object
 3   city                                   150346 non-null  object
 4   state                                  150346 non-null  object
 5   postal_code                            150346 non-null  object
 6   latitude                               150346 non-null  float64
 7   longitude                              150346 non-null  float64
 8   stars                                  150346 non-null  float64
 9   review_count                           150346 non-null  int64
 10  is_open                                150346 non-null  int64
 11  categories                             150346 non-null  object
 12  attributes_ByAppointmentOnly           150346 non-null  object
 13  attributes_BusinessAcceptsCreditCards  150346 non-null  object
 14  attributes_BikeParking                 150346 non-null  object
 15  attributes_RestaurantsPriceRange2      150346 non-null  object
 16  attributes_CoatCheck                   150346 non-null  object
 17  attributes_RestaurantsTakeOut          150346 non-null  object
 18  attributes_RestaurantsDelivery         150346 non-null  object
 19  attributes_Caters                      150346 non-null  object
 20  attributes_WiFi                        150346 non-null  object
 21  attributes_BusinessParking             150346 non-null  object
 22  attributes_WheelchairAccessible        150346 non-null  object
 23  attributes_HappyHour                   150346 non-null  object
 24  attributes_OutdoorSeating              150346 non-null  object
 25  attributes_HasTV                       150346 non-null  object
 26  attributes_RestaurantsReservations     150346 non-null  object
 27  attributes_DogsAllowed                 150346 non-null  object
 28  attributes_Alcohol                     150346 non-null  object
 29  attributes_GoodForKids                 150346 non-null  object
 30  attributes_RestaurantsAttire           150346 non-null  object
 31  attributes_Ambience                    150346 non-null  object
 32  attributes_RestaurantsTableService     150346 non-null  object
 33  attributes_RestaurantsGoodForGroups    150346 non-null  object
 34  attributes_DriveThru                   150346 non-null  object
 35  attributes_NoiseLevel                  150346 non-null  object
 36  attributes_GoodForMeal                 150346 non-null  object
 37  attributes_BusinessAcceptsBitcoin      150346 non-null  object
 38  attributes_Smoking                     150346 non-null  object
 39  attributes_Music                       150346 non-null  object
 40  attributes_GoodForDancing              150346 non-null  object
 41  attributes_AcceptsInsurance            150346 non-null  object
 42  attributes_BestNights                  150346 non-null  object
 43  attributes_BYOB                        150346 non-null  object
 44  attributes_Corkage                     150346 non-null  object
 45  attributes_BYOBCorkage                 150346 non-null  object
 46  attributes_HairSpecializesIn           150346 non-null  object
 47  attributes_Open24Hours                 150346 non-null  object
 48  attributes_RestaurantsCounterService   150346 non-null  object
 49  attributes_AgesAllowed                 150346 non-null  object
 50  attributes_DietaryRestrictions         150346 non-null  object
 51  hours_Monday                           150346 non-null  object
 52  hours_Tuesday                          150346 non-null  object
 53  hours_Wednesday                        150346 non-null  object
 54  hours_Thursday                         150346 non-null  object
 55  hours_Friday                           150346 non-null  object
 56  hours_Saturday                         150346 non-null  object
 57  hours_Sunday                           150346 non-null  object
dtypes: float64(3), int64(2), object(53)
memory usage: 66.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 480.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  datetime64[ns]
 4   compliment_count  908915 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987897 entries, 0 to 1987896
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 333.7+ MB

In [ ]:
# Function to add a primary key column if none exists
def ensure_primary_key(df, primary_key_column):
    """
    Checks if the DataFrame has a primary key column and adds one if it doesn't exist.
    """
    if primary_key_column in df.columns:
        # Ensure no nulls or duplicates in the existing primary key column
        if df[primary_key_column].isnull().any() or df[primary_key_column].duplicated().any():
            print(f"Warning: {primary_key_column} in DataFrame contains nulls or duplicates. Generating new primary key.")
            df['id'] = range(1, len(df) + 1)
            return 'id'
        else:
            return primary_key_column  # The existing column can act as the primary key
    else:
        # If no primary key column exists, add a sequential 'id' column
        df['id'] = range(1, len(df) + 1)
        return 'id'

# Apply the function to each DataFrame with appropriate column names based on the schema diagram

# Business table (primary key: business_id)
primary_key_business = ensure_primary_key(business_df, 'business_id')

# Checkin table (primary key: id)
primary_key_checkin = ensure_primary_key(checkin_df, 'business_id')

# Review table (primary key: review_id)
primary_key_review = ensure_primary_key(review_df, 'review_id')

# Tip table (primary key: id)
primary_key_tip = ensure_primary_key(tip_df, 'user_id')

# User table (primary key: user_id)
primary_key_user = ensure_primary_key(user_df, 'user_id')

# Print which column is used as primary key for each DataFrame
print(f"Primary key for business_df: {primary_key_business}")
print(f"Primary key for checkin_df: {primary_key_checkin}")
print(f"Primary key for review_df: {primary_key_review}")
print(f"Primary key for tip_df: {primary_key_tip}")
print(f"Primary key for user_df: {primary_key_user}")

# For each DataFrame, if a new 'id' column was created, the column will be 'id' as the primary key
# Otherwise, it will use the specified primary key column in the schema diagram.

Warning: user_id in DataFrame contains nulls or duplicates. Generating new primary key.
Primary key for business_df: business_id
Primary key for checkin_df: business_id
Primary key for review_df: review_id
Primary key for tip_df: id
Primary key for user_df: user_id

In [ ]:
import pandas as pd

# Function to detect a primary key column or add an 'id' column if no primary key is found
def detect_or_create_primary_key(df, table_name):
    """
    Identifies the primary key column for a DataFrame or creates a new 'id' column if no unique non-null column exists.

    Parameters:
    - df (DataFrame): The DataFrame for which to detect or create a primary key.
    - table_name (str): The name of the table (used for printing and tracking purposes).

    Returns:
    - primary_key (str): The column name that will be used as the primary key.
    """
    # Iterate over each column to check for unique, non-null values
    for col in df.columns:
        if df[col].is_unique and df[col].notnull().all():
            print(f"Column '{col}' in table '{table_name}' can serve as a primary key.")
            return col  # Return the column if it meets primary key requirements

    # If no primary key column was found, create a new 'id' column
    df['id'] = range(1, len(df) + 1)
    print(f"No unique non-null column found in table '{table_name}'. Created new primary key column 'id'.")
    return 'id'

# Example DataFrames (business_df, checkin_df, review_df, tip_df, user_df)
# Assuming these are defined

# Detect or create primary key for each DataFrame
primary_key_business = detect_or_create_primary_key(business_df, 'business')
primary_key_checkin = detect_or_create_primary_key(checkin_df, 'check_in')
primary_key_review = detect_or_create_primary_key(review_df, 'review')
primary_key_tip = detect_or_create_primary_key(tip_df, 'tip')
primary_key_user = detect_or_create_primary_key(user_df, 'user')

# Print primary key columns for each table
print(f"Primary key for business_df: {primary_key_business}")
print(f"Primary key for checkin_df: {primary_key_checkin}")
print(f"Primary key for review_df: {primary_key_review}")
print(f"Primary key for tip_df: {primary_key_tip}")
print(f"Primary key for user_df: {primary_key_user}")

Column 'business_id' in table 'business' can serve as a primary key.
Column 'business_id' in table 'check_in' can serve as a primary key.
Column 'review_id' in table 'review' can serve as a primary key.
Column 'id' in table 'tip' can serve as a primary key.
Column 'user_id' in table 'user' can serve as a primary key.
Primary key for business_df: business_id
Primary key for checkin_df: business_id
Primary key for review_df: review_id
Primary key for tip_df: id
Primary key for user_df: user_id

# Establishing connection with Azure

In [ ]:
# Install unixODBC
!apt-get update
!apt-get install -y unixodbc unixodbc-dev

# Install pyodbc
!pip install pyodbc

# Install sqlalchemy
!pip install sqlalchemy

# Install ODBC Driver 17 for SQL Server
!curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
!curl https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/prod.list | tee /etc/apt/sources.list.d/mssql-release.list
!apt-get update
!ACCEPT_EULA=Y apt-get install -y msodbcsql17

Get:1 https://packages.cloud.google.com/apt gcsfuse-focal InRelease [1227 B]
Get:2 http://security.ubuntu.com/ubuntu focal-security InRelease [128 kB]
Hit:3 http://archive.ubuntu.com/ubuntu focal InRelease
Get:4 https://packages.cloud.google.com/apt cloud-sdk InRelease [1618 B]
Get:5 http://archive.ubuntu.com/ubuntu focal-updates InRelease [128 kB]
Get:6 https://packages.cloud.google.com/apt gcsfuse-focal/main amd64 Packages [28.6 kB]
Get:7 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [4081 kB]
Get:8 https://packages.cloud.google.com/apt cloud-sdk/main amd64 Packages [3375 kB]
Get:9 https://packages.cloud.google.com/apt cloud-sdk/main all Packages [1564 kB]
Get:10 http://archive.ubuntu.com/ubuntu focal-backports InRelease [128 kB]
Get:11 http://archive.ubuntu.com/ubuntu focal-updates/multiverse amd64 Packages [33.5 kB]
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [4258 kB]
Get:13 http://security.ubuntu.com/ubuntu focal-security/restricted amd64 Packages [4105 kB]
Get:14 http://security.ubuntu.com/ubuntu focal-security/multiverse amd64 Packages [30.9 kB]
Get:15 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1275 kB]
Get:16 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1566 kB]
Get:17 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [4546 kB]
Fetched 25.2 MB in 5s (5417 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  autoconf automake autotools-dev file libltdl-dev libmagic-mgc libmagic1
  libodbc1 libsigsegv2 libtool m4 odbcinst odbcinst1debian2
Suggested packages:
  autoconf-archive gnu-standards autoconf-doc gettext libtool-doc libmyodbc
  odbc-postgresql tdsodbc unixodbc-bin gfortran | fortran95-compiler gcj-jdk
  m4-doc
The following NEW packages will be installed:
  autoconf automake autotools-dev file libltdl-dev libmagic-mgc libmagic1
  libodbc1 libsigsegv2 libtool m4 odbcinst odbcinst1debian2 unixodbc
  unixodbc-dev
0 upgraded, 15 newly installed, 0 to remove and 58 not upgraded.
Need to get 2236 kB of archives.
After this operation, 15.4 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/main amd64 libmagic-mgc amd64 1:5.38-4 [218 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal/main amd64 libmagic1 amd64 1:5.38-4 [75.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu focal/main amd64 file amd64 1:5.38-4 [23.3 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal/main amd64 libsigsegv2 amd64 2.12-2 [13.9 kB]
Get:5 http://archive.ubuntu.com/ubuntu focal/main amd64 m4 amd64 1.4.18-4 [199 kB]
Get:6 http://archive.ubuntu.com/ubuntu focal/main amd64 autoconf all 2.69-11.1 [321 kB]
Get:7 http://archive.ubuntu.com/ubuntu focal/main amd64 autotools-dev all 20180224.1 [39.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu focal/main amd64 automake all 1:1.16.1-4ubuntu6 [522 kB]
Get:9 http://archive.ubuntu.com/ubuntu focal/main amd64 libltdl-dev amd64 2.4.6-14 [162 kB]
Get:10 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 libodbc1 amd64 2.3.6-0.1ubuntu0.1 [190 kB]
Get:11 http://archive.ubuntu.com/ubuntu focal/main amd64 libtool all 2.4.6-14 [161 kB]
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 odbcinst1debian2 amd64 2.3.6-0.1ubuntu0.1 [41.7 kB]
Get:13 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 odbcinst amd64 2.3.6-0.1ubuntu0.1 [14.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 unixodbc amd64 2.3.6-0.1ubuntu0.1 [24.2 kB]
Get:15 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 unixodbc-dev amd64 2.3.6-0.1ubuntu0.1 [230 kB]
Fetched 2236 kB in 2s (970 kB/s)
Selecting previously unselected package libmagic-mgc.
(Reading database ... 115958 files and directories currently installed.)
Preparing to unpack .../00-libmagic-mgc_1%3a5.38-4_amd64.deb ...
Unpacking libmagic-mgc (1:5.38-4) ...
Selecting previously unselected package libmagic1:amd64.
Preparing to unpack .../01-libmagic1_1%3a5.38-4_amd64.deb ...
Unpacking libmagic1:amd64 (1:5.38-4) ...
Selecting previously unselected package file.
Preparing to unpack .../02-file_1%3a5.38-4_amd64.deb ...
Unpacking file (1:5.38-4) ...
Selecting previously unselected package libsigsegv2:amd64.
Preparing to unpack .../03-libsigsegv2_2.12-2_amd64.deb ...
Unpacking libsigsegv2:amd64 (2.12-2) ...
Selecting previously unselected package m4.
Preparing to unpack .../04-m4_1.4.18-4_amd64.deb ...
Unpacking m4 (1.4.18-4) ...
Selecting previously unselected package autoconf.
Preparing to unpack .../05-autoconf_2.69-11.1_all.deb ...
Unpacking autoconf (2.69-11.1) ...
Selecting previously unselected package autotools-dev.
Preparing to unpack .../06-autotools-dev_20180224.1_all.deb ...
Unpacking autotools-dev (20180224.1) ...
Selecting previously unselected package automake.
Preparing to unpack .../07-automake_1%3a1.16.1-4ubuntu6_all.deb ...
Unpacking automake (1:1.16.1-4ubuntu6) ...
Selecting previously unselected package libltdl-dev:amd64.
Preparing to unpack .../08-libltdl-dev_2.4.6-14_amd64.deb ...
Unpacking libltdl-dev:amd64 (2.4.6-14) ...
Selecting previously unselected package libodbc1:amd64.
Preparing to unpack .../09-libodbc1_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking libodbc1:amd64 (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package libtool.
Preparing to unpack .../10-libtool_2.4.6-14_all.deb ...
Unpacking libtool (2.4.6-14) ...
Selecting previously unselected package odbcinst1debian2:amd64.
Preparing to unpack .../11-odbcinst1debian2_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking odbcinst1debian2:amd64 (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package odbcinst.
Preparing to unpack .../12-odbcinst_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking odbcinst (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package unixodbc.
Preparing to unpack .../13-unixodbc_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking unixodbc (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package unixodbc-dev:amd64.
Preparing to unpack .../14-unixodbc-dev_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking unixodbc-dev:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up libmagic-mgc (1:5.38-4) ...
Setting up libmagic1:amd64 (1:5.38-4) ...
Setting up file (1:5.38-4) ...
Setting up autotools-dev (20180224.1) ...
Setting up libsigsegv2:amd64 (2.12-2) ...
Setting up libodbc1:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up libtool (2.4.6-14) ...
Setting up m4 (1.4.18-4) ...
Setting up autoconf (2.69-11.1) ...
Setting up automake (1:1.16.1-4ubuntu6) ...
update-alternatives: using /usr/bin/automake-1.16 to provide /usr/bin/automake (automake) in auto mode
update-alternatives: warning: skip creation of /usr/share/man/man1/automake.1.gz because associated file /usr/share/man/man1/automake-1.16.1.gz (of link group automake) doesn't exist
update-alternatives: warning: skip creation of /usr/share/man/man1/aclocal.1.gz because associated file /usr/share/man/man1/aclocal-1.16.1.gz (of link group automake) doesn't exist
Setting up libltdl-dev:amd64 (2.4.6-14) ...
Setting up odbcinst1debian2:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up unixodbc-dev:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up odbcinst (2.3.6-0.1ubuntu0.1) ...
Setting up unixodbc (2.3.6-0.1ubuntu0.1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.16) ...
Processing triggers for man-db (2.9.1-1) ...
Processing triggers for install-info (6.7.0.dfsg.2-5) ...
Collecting pyodbc
  Downloading pyodbc-5.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.7 kB)
Downloading pyodbc-5.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (336 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 336.0/336.0 kB 1.8 MB/s eta 0:00:0000:0100:01m
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   983  100   983    0     0  15841      0 --:--:-- --:--:-- --:--:-- 16114
OK
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    89  100    89    0     0   1667      0 --:--:-- --:--:-- --:--:--  1679
deb [arch=amd64,armhf,arm64] https://packages.microsoft.com/ubuntu/20.04/prod focal main
Get:1 https://packages.microsoft.com/ubuntu/20.04/prod focal InRelease [3632 B]
Get:2 https://packages.microsoft.com/ubuntu/20.04/prod focal/main armhf Packages [22.8 kB]
Hit:3 https://packages.cloud.google.com/apt gcsfuse-focal InRelease
Get:4 https://packages.microsoft.com/ubuntu/20.04/prod focal/main arm64 Packages [68.1 kB]
Get:5 https://packages.microsoft.com/ubuntu/20.04/prod focal/main all Packages [2938 B]
Get:6 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 Packages [319 kB]
Hit:7 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:8 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:9 https://packages.cloud.google.com/apt cloud-sdk InRelease
Hit:10 http://archive.ubuntu.com/ubuntu focal-updates InRelease
Hit:11 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Fetched 417 kB in 1s (321 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  msodbcsql17
0 upgraded, 1 newly installed, 0 to remove and 63 not upgraded.
Need to get 746 kB of archives.
After this operation, 0 B of additional disk space will be used.
Get:1 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 msodbcsql17 amd64 17.10.6.1-1 [746 kB]
Fetched 746 kB in 0s (8051 kB/s)
Preconfiguring packages ...
Selecting previously unselected package msodbcsql17.
(Reading database ... 116424 files and directories currently installed.)
Preparing to unpack .../msodbcsql17_17.10.6.1-1_amd64.deb ...
Unpacking msodbcsql17 (17.10.6.1-1) ...
Setting up msodbcsql17 (17.10.6.1-1) ...
odbcinst: Driver installed. Usage count increased to 1.
    Target directory is /etc

In [ ]:
from sqlalchemy import create_engine
import sqlalchemy


# Define connection details
username = 'serveradmin'  # Replace with your Azure SQL admin username
password = 'Msba2024'        # Replace with your Azure SQL password
server = 'shambhavi64.database.windows.net'
database = 'MiniProject1'

# Connection string for Azure SQL Server
connection_string = f"mssql+pyodbc://{username}:{password}@{server}:1433/{database}?driver=ODBC+Driver+17+for+SQL+Server"
# connection_string = f"mssql+pyodbc://{username}:{password}@{server}:1433/{database}?driver=ODBC+Driver+17+for+SQL+Server;Connection Timeout=60"

engine = create_engine(connection_string)

In [ ]:
#Testing the connection with database
from sqlalchemy import text
with engine.connect() as connection:
    result = connection.execute(text("SELECT GETDATE();"))
    for row in result:
        print("Connected! Server date and time:", row[0])

Connected! Server date and time: 2024-11-04 02:30:35.297000

In [ ]:
from sqlalchemy import Column, Integer, String, Table, MetaData
from sqlalchemy.types import Integer, String

# Define metadata and table with primary key constraint
metadata = MetaData()
check_in_table = Table(
    'check_in', metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),  # Primary key column
    Column('business_id', String(22)),  # Assuming business_id is VARCHAR(22)
    Column('date', String),  # Define other columns as needed
)

# Create the table in the database
metadata.create_all(engine)

# Upload data without creating a new table structure
checkin_df.to_sql(name="check_in", con=engine, if_exists='append', index=False, chunksize=10000)

In [ ]:
%%sql
-- Delete primary key
ALTER TABLE review
DROP CONSTRAINT IF EXISTS PK_review;

ALTER TABLE checkin
DROP CONSTRAINT IF EXISTS PK_checkin;

ALTER TABLE business
DROP CONSTRAINT IF EXISTS PK_business;

ALTER TABLE tip
DROP CONSTRAINT IF EXISTS PK_tip;

ALTER TABLE [user]
DROP CONSTRAINT IF EXISTS PK_user;


-- delete default foreign key
ALTER TABLE review
DROP CONSTRAINT IF EXISTS FK_review_business;
ALTER TABLE review
DROP CONSTRAINT IF EXISTS FK_review_user;

ALTER TABLE checkin
DROP CONSTRAINT IF EXISTS FK_checkin_business;

ALTER TABLE tip
DROP CONSTRAINT IF EXISTS FK_tip_business;
ALTER TABLE tip
DROP CONSTRAINT IF EXISTS FK_tip_user;

-- Revise the column metadata
ALTER TABLE review
ALTER COLUMN review_id VARCHAR(22) NOT NULL;
ALTER TABLE review
ALTER COLUMN business_id VARCHAR(22) NULL;
ALTER TABLE review
ALTER COLUMN user_id VARCHAR(22) NULL;

ALTER TABLE checkin
ALTER COLUMN checkin_id INT NOT NULL;
ALTER TABLE checkin
ALTER COLUMN business_id VARCHAR(22) NULL;

ALTER TABLE business
ALTER COLUMN business_id VARCHAR(22) NOT NULL;

ALTER TABLE tip
ALTER COLUMN tip_id INT NOT NULL;
ALTER TABLE tip
ALTER COLUMN business_id VARCHAR(22) NULL;
ALTER TABLE tip
ALTER COLUMN user_id VARCHAR(22) NULL;

ALTER TABLE [user]
ALTER COLUMN user_id VARCHAR(22) NOT NULL;

-- Set the primary key
ALTER TABLE review
ADD CONSTRAINT PK_review PRIMARY KEY (review_id);

ALTER TABLE checkin
ADD CONSTRAINT PK_checkin PRIMARY KEY (checkin_id);

ALTER TABLE business
ADD CONSTRAINT PK_business PRIMARY KEY (business_id);

ALTER TABLE tip
ADD CONSTRAINT PK_tip PRIMARY KEY (tip_id);

ALTER TABLE [user]
ADD CONSTRAINT PK_user PRIMARY KEY (user_id);

-- Set the foreign key
-- ALTER TABLE review
-- ADD CONSTRAINT FK_review_business FOREIGN KEY (business_id) REFERENCES business(business_id);
-- ALTER TABLE review
-- ADD CONSTRAINT FK_review_user FOREIGN KEY (user_id) REFERENCES user(user_id);

-- ALTER TABLE checkin
-- ADD CONSTRAINT FK_checkin_business FOREIGN KEY (business_id) REFERENCES business(business_id);

-- ALTER TABLE tip
-- ADD CONSTRAINT FK_tip_business FOREIGN KEY (business_id) REFERENCES business(business_id);
-- ALTER TABLE review
-- ADD CONSTRAINT FK_tip_user FOREIGN KEY (user_id) REFERENCES user(user_id);

# Business Queries

In [ ]:
table_name = "business"  # Replace with the table name you want to verify
query = f"SELECT TOP 10 * FROM {table_name};"

# Execute the query and fetch results in a DataFrame
try:
    with engine.connect() as connection:
        # Execute the query and load the result into a DataFrame
        result_df = pd.read_sql_query(text(query), con=connection)
        print(result_df)
except Exception as e:
    print(f"An error occurred: {e}")